<h3 class="header mb-3">通知一覧</h3>
<div class="col-10 offset-1 notification-box py-2">
  <ul class="notification-list mb-0">
    <% @notifications.each do |notification| %>
      <% case notification.action %>
      <% when "favorite" %>
        <li>
          <i class="fas fa-heart"></i>
          <%= link_to user_path(notification.visitor) do %>
            <%= attachment_image_tag notification.visitor, :profile_image, size:"40x40", alt:"ProfileImage", fallback:"profile_image.jpg", class:"rounded-circle mx-2" %>
            <%= notification.visitor.name %>
          <% end %>
          さんがあなたの謎解き（
          <%= link_to notification.mystery.title, mystery_path(notification.mystery_id) %>
          ）にいいねしました！
        </li>
      <% when "comment" %>
        <li>
          <i class="fas fa-comments"></i>
          <%= link_to user_path(notification.visitor) do %>
            <%= attachment_image_tag notification.visitor, :profile_image, size:"40x40", alt:"ProfileImage", fallback:"profile_image.jpg", class:"rounded-circle mx-2" %>
            <%= notification.visitor.name %>
          <% end %>
          さんがあなたの謎解き（
          <%= link_to notification.mystery.title, mystery_path(notification.mystery_id) %>
          ）にコメントしました！
        </li>
      <% when "follow" %>
        <li>
          <i class="fas fa-user-plus"></i>
          <%= link_to user_path(notification.visitor) do %>
            <%= attachment_image_tag notification.visitor, :profile_image, size:"40x40", alt:"ProfileImage", fallback:"profile_image.jpg", class:"rounded-circle mx-2" %>
            <%= notification.visitor.name %>
          <% end %>
          さんにフォローされました！
        </li>
      <% when "chat" %>
        <li>
          <i class="fas fa-envelope"></i>
          <%= link_to user_path(notification.visitor) do %>
            <%= attachment_image_tag notification.visitor, :profile_image, size:"40x40", alt:"ProfileImage", fallback:"profile_image.jpg", class:"rounded-circle mx-2" %>
            <%= notification.visitor.name %>
          <% end %>
          さんから
          <%= link_to "メッセージ", chat_path(notification.visitor) %>
          が届きました！
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= paginate @notifications %>