<div class="row mb-2">
  <% if @user.id == current_user.id %>
    <h2 class="col-2">マイページ</h2>
    <%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-primary offset-6 mt-2" %>
    <%= link_to "退会", confirm_unsubscribe_path, class:"btn btn-danger" %>
  <% else %>
    <h2 class="col-2"><%= @user.name %> さんのプロフィール</h2>
    <span>フォローする/フォロー解除</span>
  <% end %>
</div>

<div class="row mb-4">
  <div class="offset-1 col-2 pl-1" id="profile-image-box">
    <%= attachment_image_tag @user, :profile_image, size:"180x180", alt:"ProfileImage", fallback:"profile_img.jpg" %>
  </div>
  <div class="col-6">
    <span>会員No.<%= @user.id %>：<%= @user.name %></span>
    <% if @user.is_birthday_opened %>
      <span>誕生日：<%= @user.birthday %></span>
    <% else %>
      <span>誕生日：非公開</span>
    <% end %>
    <div id="profile-box">
      <%= @user.introduction %>
    </div>
  </div>
  <div class="col-2" id="user-menu">
    <ul class="pl-0">
      <li>投稿一覧</li>
      <li>いいねした投稿一覧</li>
      <li>フォロー</li>
      <li>フォロワー</li>
      <li>設定</li>
    </ul>
  </div>
</div>
<%= render 'mysteries/index', mysteries: @mysteries %>


