<% if @user == current_user %>
  <div class="row mb-3">
    <%= link_to notifications_path, class:"my-auto offset-5" do %>
      <i class="fas fa-bell"></i>
    <% end %>
    <h3 class="header col-2">マイページ</h3>
    <a class="mr-3 my-auto" data-toggle="collapse" href="#confcollapse" role="button" aria-expanded="false" aria-controls="confcollapse">
      <i class="fas fa-cogs"></i>
    </a>
    <div class="overflow-hidden my-auto">
      <div class="collapse" id="confcollapse">
        <%= link_to "プロフィール編集", edit_user_path(@user), class:"mr-2" %>
        <%= link_to "退会", confirm_unsubscribe_path %>
      </div>
    </div>
  </div>
<% else %>
  <h3 class="header"><%= @user.name %> さんのプロフィール</h3>
  <% if @user.is_actived %>
    <div class="row mt-1 mb-3">
      <div class="offset-4 col-4 text-center">
        <span class="follow-btn">
          <%= render 'relationships/follow_btn', user: @user %>
        </span>
        <span class="chat-link">
          <%= render 'chats/chat_link', user: @user %>
        </span>
      </div>
    </div>
    <% else %>
      <p class="text-center">削除済みユーザー</p>
    <% end %>
<% end %>

<%= render 'users/profile', user: @user %>
<h4 class="content-header mb-3">投稿一覧</h4>
<div class="content-box">
  <%= render 'mysteries/index_page', mysteries: @mysteries %>
</div>