<% chats.each do |chat| %>
  <% if chat.user.id == current_user.id %>
    <div class="send-message-box d-flex justify-content-end align-items-end" id="send-message-<%= chat.id %>">
      <p class="px-3 py-3"><%= safe_join(chat.message.split("\n"),tag(:br)) %></p>
      <%= link_to chat_path(chat), method: :delete, remote: true do %>
        <i class="fas fa-trash-alt ml-2"></i>
      <% end %>
    </div>
    <p class="text-right my-1" id="send-time-<%= chat.id %>"><%= l chat.created_at, format: :short %></p>
  <% else %>
    <div class="row">
      <div class="col-1 my-auto">
        <%= attachment_image_tag chat.user, :profile_image, size:"50x50", fallback: "profile_image.jpg", class:"rounded-circle" %>
      </div>
      <div class="recieve-message-box">
        <p class="px-3 py-3"><%= safe_join(chat.message.split("\n"),tag(:br)) %></p>
      </div>
    </div>
    <p class="offset-1 my-1"><%= l chat.created_at, format: :short %></p>
  <% end %>
<% end %>