<h3 class="header mb-3">DM一覧</h3>
<div class="chat-index col-6 offset-3">
  <table class="table hat-table">
    <% @users.each do |user| %>
      <% if user.following?(current_user) %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= attachment_image_tag user, :profile_image, size:"40x40", alt:"ProfileImage", fallback:"profile_image.jpg", class:"rounded-circle mx-2" %>
              <%= user.name %>
            <% end %>
          </td>
          <td class="text-center">
            <% if @notifications.where(visitor_id: user.id).exists? %>
              <i class="fas fa-exclamation"></i>
            <% end %>
            <%= link_to chat_path(user.id) do %>
              <i class="fas fa-envelope"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

<%= paginate @users %>