<div class="col-6 offset-3 text-center">
  <h2 class="header py-2">ようこそ、MysteryClubへ！</h2>

  <% unless user_signed_in? %>
      <p>MysteryClubは謎解き好きのためのSNSです。</br>
      初めての方は <%= link_to "こちら", new_user_registration_path %> から会員登録してください</br>
      ＊ 投稿の詳細を見るにはログインが必要です</p>
  <% end %>
</div>

<h3 class="header mt-5">人気投稿</h3>

<div class="row mt-4">
  <div class="col-3 offset-1 mt-5 text-center">
    <h4 class="second-header"><i class="fas fa-crown"></i> 2位</h4>
    <div class="card px-0">
      <%= attachment_image_tag @second_mystery, :image, alt:"Mysteryimage", size:"280x180", fallback: "no_image.jpg", class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to mystery_path(@second_mystery.id) do %>
            <%= @second_mystery.title %>
          <% end %>
        </h5>
        <p class="difficulty_level card-text" data-score="<%= @second_mystery.difficulty_level %>"></p>
        <span class="favorite-count"><i class="fas fa-heart"></i> <%= @second_mystery.favorites.count %></span>
        <span class="ml-2 comment-count"><i class="fas fa-comments"></i> <%= @second_mystery.comments.count %></span>
        <p class="mt-2 mb-0">by <%= @second_mystery.user.name %>さん</p>
      </div>
    </div>
  </div>
  <div class="col-4 text-center">
    <h4 class="first-header"><i class="fas fa-crown"></i> 1位 <i class="fas fa-crown"></i></h4>
    <div class="card px-0">
      <%= attachment_image_tag @first_mystery, :image, alt:"Mysteryimage", size:"350x230", fallback: "no_image.jpg", class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to mystery_path(@first_mystery.id) do %>
            <%= @first_mystery.title %>
          <% end %>
        </h5>
        <p class="difficulty_level card-text" data-score="<%= @first_mystery.difficulty_level %>"></p>
        <span class="favorite-count"><i class="fas fa-heart"></i> <%= @first_mystery.favorites.count %></span>
        <span class="ml-2 comment-count"><i class="fas fa-comments"></i> <%= @first_mystery.comments.count %></span>
        <p class="mt-2 mb-0">by <%= @first_mystery.user.name %>さん</p>
      </div>
    </div>
  </div>
  <div class="col-3 mt-5 text-center">
    <h4 class="third-header">3位 <i class="fas fa-crown"></i></h4>
    <div class="card px-0">
      <%= attachment_image_tag @third_mystery, :image, alt:"Mysteryimage", size:"280x180", fallback: "no_image.jpg", class:"card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to mystery_path(@third_mystery.id) do %>
            <%= @third_mystery.title %>
          <% end %>
        </h5>
        <p class="difficulty_level card-text" data-score="<%= @third_mystery.difficulty_level %>"></p>
        <span class="favorite-count"><i class="fas fa-heart"></i> <%= @third_mystery.favorites.count %></span>
        <span class="ml-2 comment-count"><i class="fas fa-comments"></i> <%= @third_mystery.comments.count %></span>
        <p class="mt-2 mb-0">by <%= @third_mystery.user.name %>さん</p>
      </div>
    </div>
  </div>
</div>