<h2>DM</h2>

<% if @chats.present? %>
  <table>
    <tr>
      <% @chats.each do |chat| %>
         <td><%= chat.message %></td>
         <% unless chat.user_id == current_user.id %>
           <td><%= chat.user.name %></td>
         <% end %>
      <% end %>
    </tr>
  </table>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_with(model:[@room,@chat], local: true) do |f| %>
  <div class="form-group">
    <%= f.text_field :message, placeholder: "メッセージを入力して下さい", class:"form-control" %>
  </div>
  <div class="action">
    <%= f.submit "投稿する", class:"btn btn-success" %>
  </div>
<% end %>