<div class="offset-1">
<%= form_with model: mystery, local:true do |f| %>
  <div class="form-group row">
    <%= f.label :title, "タイトル", class:"col-2" %>
    <%= f.text_field :title, autofocus: true, class:"form-control col-5" %>
  </div>

  <div class="form-group row">
    <%= f.label :image, "画像", class:"col-2" %>
    <%= f.attachment_field :image, class:"form-control-file col-5" %>
  </div>
  <div class="form-group row">
    <%= f.label :discription, "問題文", class:"col-2" %>
    <%= f.text_area :discription, class:"form-control col-7" %>
  </div>
  <div class="form-group row">
    <%= f.label :answer, "答え", class:"col-2" %>
    <%= f.text_field :answer, class:"form-control col-5" %>
  </div>
  <div class="form-group row">
    <%= f.label :answer_discription, "解説", class:"col-2" %>
    <%= f.text_area :answer_discription, class:"form-control col-7" %>
  </div>
  <div class="form-group row">
    <%= f.label :answer_image, "解説用画像", class:"col-2" %>
    <%= f.attachment_field :answer_image, class:"form-control-file col-4" %>
  </div>
  <div class="form-group row" id="difficulty_level">
    <label class="col-2">難易度</label>
  </div>
  <div class="form-check form-check-inline">
    <%= f.label :is_opened, "公開設定", class:"mr-5" %>
    <%= f.radio_button :is_opened, true, class:"form-check-input ml-5", id:"checkbox1" %>
    <label class="form-check-label" for="checkbox1">公開</label>
    <%= f.radio_button :is_opened, false, class:"form-check-input ml-2", id:"checkbox2" %>
    <label class="form-check-label" for="checkbox2">非公開</label>
  </div>

  <div class="action">
    <%= f.submit btn_string, class:"btn btn-success col-2 offset-5 mt-5" %>
  </div>
<% end %>
</div>

<script>
  $('#difficulty_level').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'mystery[difficulty_level]'
  });
</script>