<div class="card-deck">
  <% mysteries.each do |mystery| %>
    <div class="card col-3">
      <%= attachment_image_tag mystery, :image, class:"card-img-top", alt:"Mysteryimage" %>
      <div class="card-body">
        <h6 class="card-title">
          <%= link_to mystery_path(mystery.id) do %>
            <%= mystery.title %>
          <% end %>
        </h6>
        難易度：<p class="difficulty_level card-text" data-score="<%= mystery.difficulty_level %>"></p>
        <p class="card-text"><i class="fas fa-heart" style="color: red;"></i><%= mystery.favorites.count %></br>
        コメント：<%= mystery.comments.count %> 件</p>
      </div>
      <!--<div class="card-body">-->
        <%= link_to "詳細", mystery_path(mystery.id), class:"card-link" %>
      <!--</div>-->
      <div class="card-footer">
        投稿者：<%= mystery.user.name %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.difficulty_level').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>