<div class="row text-center">
  <% mysteries.each do |mystery| %>
    <div class="col-3">
      <div class="card mb-3">
        <%= attachment_image_tag(mystery, :image, :fill, 250, 180, alt:"Mysteryimage", fallback: "no_image.jpg", size:"250x180", class:"card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">
            <% if mystery.is_opened %>
              <%= link_to mystery_path(mystery.id) do %>
                <%= mystery.title %>
              <% end %>
            <% else %>
              <%= link_to mystery_path(mystery.id) do %>
                <%= mystery.title %> <i class="fas fa-lock"></i>
              <% end %>
            <% end %>
          </h5>
          <p class="difficulty_level card-text" data-score="<%= mystery.difficulty_level %>"></p>
          <span class="favorite-count"><i class="fas fa-heart"></i> <%= mystery.favorites.count %></span>
          <span class="ml-2 comment-count"><i class="fas fa-comments"></i> <%= mystery.comments.count %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @mysteries %>

<script>
  $('.difficulty_level').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/images/'
  });
</script>