<h4 class="header">投稿詳細</h4>
<!--ログインユーザーの投稿なら編集ボタンと削除ボタンを表示する-->
<% if @mystery.user == current_user %>
  <div class="text-center mb-2">
    <%= link_to edit_mystery_path(@mystery) do %>
      <i class="fas fa-edit mr-1"></i>
    <% end %>
    <%= link_to mystery_path(@mystery), method: :destroy, data: {confirm: "編集ページから非公開に変更もできますが、削除してよろしいですか？"} do %>
      <i class="fas fa-trash-alt ml-1"></i>
    <% end %>
  </div>
<% end %>

<div class="card">
  <!--カードのヘッダー部-->
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" id="mysteryTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="main-tab" data-toggle="tab" href="#main" role="tab" aria-controls="main" aria-selected="true">謎解き</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="answer-tab" data-toggle="tab" href="#answer" role="tab" aria-controls="answer" aria-selected="false">解説</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">投稿者</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="mysteryTabContent">

    <!--謎解き問題タブ-->
    <div class="tab-pane fade show active" id="main" role="tabpanel" aria-labelledby="main-tab">
      <div class="row">
        <div class="col-4 ml-3 my-2">
          <%= link_to Refile.attachment_url(@mystery, :image), "data-lightbox":"mystery_img", "data-title":"問題画像" do %>
            <%= attachment_image_tag @mystery, :image, size:"300x200", alt:"MysteryImage", fallback:"no_image.jpg" %>
          <% end %>
        </div>
        <div class="col-7 card-body">
          <div class="row">
            <h5 class="card-title"><%= @mystery.title %></h5>
            <span class="ml-5" id="favorite-btn">
              <%= render 'favorites/favorite-btn', mystery: @mystery %>
            </span>
            <span class="ml-2" id="comment-count"><i class="fas fa-comments"></i> <%= @mystery.comments.count %></span>
          </div>
          <h6 class="card-subtitle">難易度：<span class="difficulty_level" data-score="<%= @mystery.difficulty_level %>"></span></h6>
          <p class="card-text"><%= safe_join(@mystery.discription.split("\n"),tag(:br)) %></p>
        </div>
      </div>
    </div>

    <!--謎解き解説タブ-->
    <div class="tab-pane fade" id="answer" role="tabpanel" aria-labelledby="answer-tab">
      <div class="row">
        <div class="col-4 ml-3 my-2">
          <%= link_to Refile.attachment_url(@mystery, :answer_image), "data-lightbox":"answer_img", "data-title":"解説画像" do %>
            <%= attachment_image_tag @mystery, :answer_image, alt:"No Image", size:"300x200", fallback:"no_image.jpg" %>
          <% end %>
        </div>
        <div class="col-7 card-body">
          <h6 class="card-title">答え： <%= @mystery.answer %></h6>
          <p class="card-text">
            解説：</br>
            <%= safe_join(@mystery.answer_discription.split("\n"),tag(:br)) %>
          </p>
        </div>
      </div>
    </div>

    <!--投稿者タブ-->
    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
      <div class="row">
        <div class="col-3 ml-5 mt-2">
          <%= attachment_image_tag @mystery.user, :profile_image, size:"180x180", alt:"ProfileImage", fallback:"profile_image.jpg", class:"rounded-circle"; %>
        </div>
        <div class="col-8 ml-2 card-body">
          <h5 class="card-title">
            <%= link_to user_path(@mystery.user) do %>
              <%= @mystery.user.name %>
            <% end %>
          </h5>
          <p>フォロー： <%= @mystery.user.followings.count %></p>
          <p>フォロワー： <%= @mystery.user.followers.count %></p>
          <%= render 'relationships/follow_btn', user: @mystery.user %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <!--コメント投稿フォーム-->
  <div class="col-4">
    <%= render 'comments/form', mystery: @mystery, comment: @comment %>
  </div>
  <!--コメント一覧-->
  <table class="table col-7 ml-2" id="comment-box">
    <%= render 'comments/index', mystery: @mystery %>
  </table>
</div>

<!--難易度の星の表示-->
<script>
  $('.difficulty_level').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>